<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="4" android:versionName="1.0.0.4" package="com.grimar2008.notify_de" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="29" />
	<application android:label="Learn German with Notifications" android:theme="@style/MainTheme" android:icon="@mipmap/icon" android:roundIcon="@mipmap/icon_round" android:extractNativeLibs="true"></application>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
</manifest>